<div class="random-chatting">
  <img class="chat_close" src="/public/images/button-x.png" alt="" (click) = "chatClose()">
  <div class="scrollbar style-1">
    <div class="force-overflow">
      <div class="chatting-list">
        <div class="chatting" *ngFor="let chatting of chattings">
          <div class="wrapper-picture" [ngStyle]="{'background-image': 'url('+chatting.picture+')'}"></div>
          <div class="wrapper-content">
            <div class="nickname">{{ chatting.displayName }}</div>
            <div class="message">{{ chatting.msg }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-chat">
    <input type="text" class="input-chat" placeholder="자유롭게 대화를 나눠 보세요!"
           (keydown.enter)="onChat(message)"
           #message>
    <a class="btn-chat" (click)="onChat(message)">
      <img src="/public/images/button-send2.png" class="img-chat">
    </a>
  </div>
</div>
