<!--component html goes here -->
<img src="/public/images/button-view.png" class="button_like">
<span class="viewlike">VIEW 32312</span>
<img src="/public/images/button-like.png" class="button_like">
<span class="viewlike">LIKE 4231</span>
<div class="chating">
  <div class="team-selete">
    <div class="Rectangle-15">
      <div class="ct-circle cc1"></div><span class="chat-team ct1">미스포츈</span>
    </div>
    <div class="Rectangle-15-Copy">
      <div class="ct-circle cc2"></div><span class="chat-team ct2">자이라</span>
    </div>
    <div class="Combined-Shape">
      <input class="Rectangle-12" placeholder="자유롭게 대화를 나눠 보세요!">
      <img src="/public/images/button-send.png" class="button_send">
    </div>
  </div>
</div>

<battle-chat-message></battle-chat-message>
