<section class="chatting">
  <h2 class="hidden-title">응원 게시판</h2>
  <div class="chat_team_wrap">
    <div class="chat_team chat_team_left" (click)="champSwitch(true)">
      <div class="circle c1"></div>
      <span>미스포츈</span>
    </div>
    <div class="chat_team chat_team_right" (click)="champSwitch(false)">
      <div class="circle c2"></div>
      <span>자이라</span>
    </div>
    <div class="chat_input" [class.isLeft]="leftChamp" [class.isRight]="!leftChamp">
      <input class="chat_input_tag" placeholder="자유롭게 대화를 나눠 보세요!" (keydown.enter)="onChat(message)" #message>
      <img src="/public/images/button-send.png" class="button_send" alt="send button"
           (click)="onChat(message)">
    </div>
  </div>
  <battle-chat-message [chattings]="chattings"></battle-chat-message>
</section>
