// component css goes here
input
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;

	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:Arial;
  padding-left:20px;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
	outline:0;
}



.chating{ margin-top:23px;}
.viewlike {  font-family: DINPro; font-size: 17.5px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: rgba(255, 255, 255, 0.7);}
.Rectangle-15 { width: 200px; height: 37px; border-radius: 10px 10px 0 0; background-color: rgba(255, 255, 255, 0.12); display: inline-block;float:left}
.Rectangle-15-Copy { width: 200px; height: 37px; border-radius: 10px 10px 0 0; background-color: #a4a4a4;  display: inline-block; float:left;}
.Combined-Shape { position: relative;width: 400px; height: 60px; border-radius: 0 0 10px 10px; background-color: rgba(255, 255, 255, 0.12); float:left}
.Rectangle-12 { position: absolute;top:12px;left:20px;width:340px;height: 36px; border-radius: 49px; background-color: #f2f2f2; }
.button_send {position: absolute; top:20px; right:34.8px;}
battle-chat-message {float:left;margin-top:16px;}
