// component css goes here
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;

	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:Arial;
  padding-left:10px;
	padding-right:10px;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
	outline:0;
}

.battle_right {
  height:85%;
	width:24%;
	display: inline-block;
	position: absolute;
	right:0px;
	top:80px;
}

.chating{ margin-top:23px;}
.viewlike {  font-family: DINPro; font-size: 17.5px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: rgba(255, 255, 255, 0.7);}
.team-select {font-size:0px;}
.Rectangle-15 { width: 50%; height: 37px; border-radius: 10px 10px 0 0; background-color: rgba(255, 255, 255, 0.12); display: inline-block;}
.Rectangle-15-Copy { width:  50%; height: 37px; border-radius: 10px 10px 0 0; background-color: #a4a4a4;  display: inline-block;}
.ct-circle {width:12px;height:12px;border-radius: 50%;display: inline-block;vertical-align: top;position:relative;top:13px;left:20px;}
.cc1 {background-color:#fd3d8a;}
.cc2 {background-color:#808080;}
.chat-team { position: relative; left:40px; top:7px;font-size: 14px;  font-weight: bold;  font-style: normal;  font-stretch: normal;  line-height: 1.71;  letter-spacing: normal;}
.ct1{color:#ffffff;}
.ct2{color:#808080;}
.Combined-Shape { display: inline-block;width: 100%; height: 60px;padding-left:10px;padding-right: 10px;border-radius: 0 0 10px 10px; background-color: rgba(255, 255, 255, 0.12);}
.Rectangle-12 { position: relative;top:12px;width:100%;height: 36px; border-radius: 49px; background-color: #f2f2f2; }
.button_send {position: absolute;top:103.5px;right:19px;}
battle-chat-message {height:100%;}
