<!--component html goes here -->
<div class="one-message">
  <img src="/public/images/button-board-profile-image.png" class="button_board_profile_image">
  <span class="user_id">Angular</span>
  <div class="text-box"></div>
  <span class="time">오후 08:05</span>
</div>

<div class="one-message">
  <img src="/public/images/button-board-profile-image.png" class="button_board_profile_image">
  <span class="user_id">Angular</span>
  <div class="text-box"></div>
  <span class="time">오후 08:05</span>
</div>
