<!--component html goes here -->

<div class="scrollbar style-1">
  <div class="force-overflow">


      <div class="one-message" style="font-size:0px;">
        <div class="msg-profile">
          <img src="/public/images/button-board-profile-image.png" class="button_board_profile_image" style="width:100%;">
        </div>
        <div class="msg-ballon">
          <span class="user_id">Angular</span>
          <div class="text-box tb1">
            <span>아아아아아아아아아아아아아아아</span>
          </div>
        </div>
        <div class="msg-time">
          <span>오후 08:05</span>
        </div>
      </div>

      <div class="one-message">
        <div class="msg-time">
          <span>오후 08:05</span>
        </div>
        <div class="msg-ballon mb2">
          <span class="user_id ui2">Angular</span>
          <div class="text-box tb2">
            <span>아아아아아</span>
          </div>
        </div>
        <div class="msg-profile">
          <img src="/public/images/button-board-profile-image.png" class="button_board_profile_image">
        </div>
      </div>

      <div class="one-message" style="font-size:0px;">
        <div class="msg-profile">
          <img src="/public/images/button-board-profile-image.png" class="button_board_profile_image" style="width:100%;">
        </div>
        <div class="msg-ballon">
          <span class="user_id">Angular</span>
          <div class="text-box tb1">
            <span>아아아아아아아아아아아아아아아</span>
          </div>
        </div>
        <div class="msg-time">
          <span>오후 08:05</span>
        </div>
      </div>


      <div class="one-message" style="font-size:0px;">
        <div class="msg-profile">
          <img src="/public/images/button-board-profile-image.png" class="button_board_profile_image" style="width:100%;">
        </div>
        <div class="msg-ballon">
          <span class="user_id">Angular</span>
          <div class="text-box tb1">
            <span>아아아아아아아아아아아아아아아</span>
          </div>
        </div>
        <div class="msg-time">
          <span>오후 08:05</span>
        </div>
      </div>


      <div class="one-message" style="font-size:0px;">
        <div class="msg-profile">
          <img src="/public/images/button-board-profile-image.png" class="button_board_profile_image" style="width:100%;">
        </div>
        <div class="msg-ballon">
          <span class="user_id">Angular</span>
          <div class="text-box tb1">
            <span>아아아아아아아아아아아아아아아</span>
          </div>
        </div>
        <div class="msg-time">
          <span>오후 08:05</span>
        </div>
      </div>


      <div class="one-message" style="font-size:0px;">
        <div class="msg-profile">
          <img src="/public/images/button-board-profile-image.png" class="button_board_profile_image" style="width:100%;">
        </div>
        <div class="msg-ballon">
          <span class="user_id">Angular</span>
          <div class="text-box tb1">
            <span>아아아아아아아아아아아아아아아</span>
          </div>
        </div>
        <div class="msg-time">
          <span>오후 08:05</span>
        </div>
      </div>
  </div>
</div>
