<!--component html goes here -->
<div class="one-message">
  <img src="/public/images/button-board-profile-image.png" class="button_board_profile_image">
  <span class="user_id">Angular</span>
  <div class="text-box">
    <span class="texts_left">아아아</span>
  </div>
  <span class="time">오후 08:05</span>
</div>

<div class="one-message">
  <img src="/public/images/button-board-profile-image.png" class="button_board_profile_image2">
  <span class="user_id2">Angular</span>
  <div class="text-box2">
    <span class="texts_right">오 된다</span>
  </div>
  <span class="time2">오후 08:05</span>
</div>


<div class="one-message">
  <img src="/public/images/button-board-profile-image.png" class="button_board_profile_image">
  <span class="user_id">Angular</span>
  <div class="text-box">
    <span class="texts_left">아아아</span>
  </div>
  <span class="time">오후 08:05</span>
</div>

<div class="one-message">
  <img src="/public/images/button-board-profile-image.png" class="button_board_profile_image">
  <span class="user_id">Angular</span>
  <div class="text-box">
    <span class="texts_left">아아아</span>
  </div>
  <span class="time">오후 08:05</span>
</div>



<div class="one-message">
  <img src="/public/images/button-board-profile-image.png" class="button_board_profile_image2">
  <span class="user_id2">Angular</span>
  <div class="text-box2">
    <span class="texts_right">채팅 완성</span>
  </div>
  <span class="time2">오후 08:05</span>
</div>
