
/* chatting message*/


.chat_msg_wrap {
  height: 86%;
}

.chat_msg {
  display: flex;
  padding: 5px 15px;
  margin: 0px 0px;
}

.left_msg{
  justify-content: flex-start;
}

.right_msg{
  justify-content: flex-end;
}

.left_msg > .chat_profile {
  margin-right: 5px;
  order:1;
}

.right_msg > .chat_profile {
  margin-left: 5px;
  order:3;
}

.chat_profile {
  display: flex;
  align-items: flex-end;
  width:14%;
}

.chat_profile_pic {
  width: 40px;
  height: 40px;
}

.chat_content{
  max-width:63%;
  display: flex;
  flex-direction: column;
  order:2;
}

.right_msg > .chat_content {
  align-items: flex-end;
}

.chat_id {
  padding:0 20px;
}

.chat_id > span {
  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.left_msg > .chat_content > .chat_id > span {
  color: #fd3d8a;
}

.right_msg > .chat_content > .chat_id > span {
  color: #4a4a4a;
}

.chat_ballon{
  display: flex;
  padding: 10px 17px;
  font-family: SpoqaHanSans;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  margin-top: 2px;
  word-break: break-all;
}

.left_msg > .chat_content > .chat_ballon {
  border-radius: 30px 30px 30px 0px;
  background-color: rgba(236, 236, 236, 0.12);
  color: #ffffff;
}

.right_msg > .chat_content > .chat_ballon {
  border-radius: 30px 30px 0px 30px;
  background-color: #a4a4a4;
  color:#222222;
}


.chat_time {
  width: 19%;
  display: flex;
  align-items: flex-end;
  font-family: SpoqaHanSans;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c1c1c1;
}

.left_msg > .chat_time {
  order:3;
}

.right_msg > .chat_time {
  justify-content: flex-end;
  order:1;
}

.chat_msg_wrap > .scrollbar {
  height:600px;
}

.chat_msg_wrap > .style-1::-webkit-scrollbar {
  width:0px;
}

.chat_msg_wrap > .scrollbar {
  padding: 0;
}
