// component css goes here
.button_board_profile_image{float:left;margin-top:50px;}
.user_id{  float:left; height: 17px;  width:120px;font-family: SpoqaHanSans;  font-size: 14px;  font-weight: bold;  font-style: normal;  font-stretch: normal;  line-height: normal;  letter-spacing: normal;  color: #fd3d8a;  margin-left:32px;}
.text-box{  float:left; display: inline-block; border-radius: 30px 30px 30px 0px;margin-top:8px;margin-left:12px;width: 236px;  height: 84px;  background-color: rgba(236, 236, 236, 0.12);}
.time {  float:left; margin-top:79px; height: 13px;  font-family: SpoqaHanSans;  font-size: 11px;  font-weight: normal;  font-style: normal;  font-stretch: normal;  line-height: normal;  letter-spacing: normal;  text-align: left;  color: #c1c1c1;}
.one-message {float:left;}
