<!--component html goes here -->
<nav class="nav-bar">
  <img src="/public/images/logo-image.png" class="logo_image">
  <img src="/public/images/logo-text.png" class="logo_text">
  <div class="Rectangle-3-Copy-2">
    <div class="Rectangle-3-Copy-3">
      <span class="layer">랜덤영상</span>
    </div>
  </div>
  <img src="/public/images/button-upload.png" class="button_upload">
  <img src="/public/images/combined-shape.png" class="Combined-Shape">
  <span class="username">Junghyun Park</span>
  <img src="/public/images/bitmap.png" class="Bitmap">
  <img src="/public/images/button-profile.png" class="button_profile">
</nav>
