// component css goes here

.nav-bar {z-index:100;position:absolute;top:0;left:0;width:100%;height:49px;display: inline-block;}
.logo_image { height:100%;object-fit: contain; }
.logo_text {max-width: 150px;width: 10%; object-fit: contain; margin-bottom: 10px;margin-left:9px;}
.Rectangle-3-Copy-2 {margin-left: 30px;margin-top:6px;display: inline-block;vertical-align: top;max-width: 185px;display: inline-block;width: 15%; height: 35px; border-radius: 100px; border: solid 1px #ffffff;}
.Rectangle-3-Copy-3 {text-align: center;width: 50%; height: 28px; border-radius: 28px;margin-top:2px;margin-left:2px; background-color: #4369ff; border: solid 1px #4369ff;}
.layer {height: 100%;height:100%;line-height: 28px;color:#fff;font-size:0.8em;}
.position_wrap{display: inline-block;width:100%;height:100%;text-align: center;position: absolute;left:0;z-index: -1;}
.position {display: inline-block;height:100%;}
.btn_p {height:100%;}
.button_top{}
.button_jungle{margin-left: 10px;}
.button_mid{margin-left: 10px;}
.button_sup{margin-left: 10px;}
.button_ad{margin-left: 10px;}

.right_wrap {float:right;}
.button_profile {height: 100%;};
.r_info {vertical-align: top;}
.button_upload{margin-top:11px;margin-right:10px;}
.Combined-Shape{margin-top:11px;margin-right:10px;}
.username{line-height:48px;color:#fff;margin-right:6px;}
.Bitmap{margin-right:6px;}
.button_profile{margin-top:18.5px;}
// .Bitmap{position: absolute; right:111px;top:0;}
// .username {position: absolute;color:#fff; right:171px;top:17px;}
// .Combined-Shape{position: absolute;color:#fff; right:302px;top:10px;}
// .button_upload{position: absolute;color:#fff; right:351.1px;top:11px;}
