// component css goes here

.nav-bar {z-index:100;position:absolute;top:40px;left:40px;width:1000px;height:49px;}
.logo_image { width: 45px; height: 49px; object-fit: contain; }
.logo_text { width: 114px; height: 26px; object-fit: contain; padding-bottom: 10px;padding-left:9px;}
.Rectangle-3-Copy-2 {position:absolute; top:0px;left:208px; width: 191px; height: 46px; border-radius: 100px; border: solid 1px #ffffff;}
.Rectangle-3-Copy-3 {position:absolute;top:4px;left:4px;width: 94px; height: 36px; border-radius: 68px; background-color: #4369ff; border: solid 1px #4369ff;}
.layer {position:absolute;top:6px;left:14px;color:#fff;}
.button_profile {position: absolute; right:80px;top:21px;};
.Bitmap{position: absolute; right:111px;top:0;}
.username {position: absolute;color:#fff; right:171px;top:17px;}
.Combined-Shape{position: absolute;color:#fff; right:302px;top:10px;}
.button_upload{position: absolute;color:#fff; right:351.1px;top:11px;}
