<header class="header">
    <div class="header_ele header_left">
      <h1 class="logo"><img src="/public/images/logo-image.png" alt="Legend TV"/><img class="text_logo" src="/public/images/logo-text.png" alt=""/></h1>
      <div class="video_switch">
        <label class="switch">
          <input type="checkbox">
          <div class="slider round">
            <!-- <span class="slider_text st_random">랜덤영상</span>
            <span class="slider_text st_battle">배틀영상</span> -->
          </div>
          <div class="text"></div>
        </label>
      </div>
    </div>
    <div class="header_ele header_cen">
      <ul class="position_list">
        <li class="top" (click)="onSelected('top')" [class.selectedTop]="selected == 'top'"></li>
        <li class="jungle" (click)="onSelected('jungle')" [class.selectedJungle]="selected == 'jungle'"></li>
        <li class="mid" (click)="onSelected('mid')" [class.selectedMid]="selected == 'mid'"></li>
        <li class="sup" (click)="onSelected('sup')" [class.selectedSup]="selected == 'sup'"></li>
        <li class="ad" (click)="onSelected('ad')" [class.selectedAd]="selected == 'ad'"></li>
      </ul>
    </div>
    <div class="header_ele header_right">
      <ul class="user_control">
        <li class="upload"><img src="/public/images/button-upload.png" alt="upload" /></li>
        <li class="setting"><img src="/public/images/combined-shape.png" alt="setting" /></li>
        <li class="nickname" (click)="dropSelect()">Junghyun Park</li>
        <li class="profile" (click)="dropSelect()"><img src="/public/images/bitmap.png" alt="profile picture" /></li>
        <li class="drop" (click)="dropSelect()">
          <div class="drop_img" [class.drop_down]="dropDown"  [class.drop_up]="!dropDown">
          </div>
        </li>
      </ul>

      <div class="dropdown_menu" *ngIf="!dropDown">
        <button class="drop_btn my_account"><img src="/public/images/user-icon2.png" alt="user icon"><span>내 계정</span></button>
        <button class="drop_btn logout"><img src="/public/images/logout-icon.png" alt="logout icon"><span>로그아웃</span></button>
        <div class="alarm_wrap">
          <div class="alarm_champ">
            <img src="" alt="champion">
          </div>
          <div class="alarm_content">
            <div class="alarm_text">
              <span>
                회원님의 매드무비가 메인영상에 올라왔습니다!
              </span>
            </div>
            <div class="alarm_time">
              <img src="/public/images/star.png" alt="type">
              <span>
                1시간 전
              </span>
            </div>
          </div>
        </div>
        <div class="alarm_wrap">
          <div class="alarm_champ">
            <img src="" alt="champion">
          </div>
          <div class="alarm_content">
            <div class="alarm_text">
              <span>
                회원님의 매드무비가 메인영상에 올라왔습니다!
              </span>
            </div>
            <div class="alarm_time">
              <img src="/public/images/star.png" alt="type">
              <span>
                1시간 전
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>
