<header class="header">
    <div class="header_ele header_left">
      <h1 class="logo"><img src="/public/images/logo-image.png" alt="Legend TV"/><img class="text_logo" src="/public/images/logo-text.png" alt=""/></h1>
      <div class="video_switch">
        <label class="switch">
          <input type="checkbox">
          <div class="slider round">
            <!-- <span class="slider_text st_random">랜덤영상</span>
            <span class="slider_text st_battle">배틀영상</span> -->
          </div>
          <div class="text"></div>
        </label>
      </div>
    </div>
    <div class="header_ele header_cen">
      <ul class="position_list">
        <li class="top" (click)="onSelected('top')" [class.selectedTop]="selected == 'top'"></li>
        <li class="jungle" (click)="onSelected('jungle')" [class.selectedJungle]="selected == 'jungle'"></li>
        <li class="mid" (click)="onSelected('mid')" [class.selectedMid]="selected == 'mid'"></li>
        <li class="sup" (click)="onSelected('sup')" [class.selectedSup]="selected == 'sup'"></li>
        <li class="ad" (click)="onSelected('ad')" [class.selectedAd]="selected == 'ad'"></li>
        <!-- <li><img src="/public/images/button-top-off.png" alt="top"></li>
        <li><img src="/public/images/button-jungle-off.png" alt="jungle"></li>
        <li><img src="/public/images/button-mid-off.png" alt="mid"></li>
        <li><img src="/public/images/button-sup-off.png" alt="support"></li>
        <li><img src="/public/images/button-ad-off.png" alt="ad"></li> -->
      </ul>
    </div>
    <div class="header_ele header_right">
      <ul class="user_control">
        <li class="upload"><img src="/public/images/button-upload.png" alt="upload" /></li>
        <li class="setting"><img src="/public/images/combined-shape.png" alt="setting" /></li>
        <li class="nickname">Junghyun Park</li>
        <li class="profile"><img src="/public/images/bitmap.png" alt="profile picture" /></li>
        <li class="drop"><img src="/public/images/button-profile.png" alt="drop down" /></li>
      </ul>
    </div>
</header>
