<!--component html goes here -->
<div class="card-wrap">
  <div class="card cha">
    <span class="title">CHARACTER</span>
    <div class="cha-button-wrap">
      <div class="cha-button ap">
        <span class="cha-verticle-center-text">AP</span>
      </div>
      <div class="cha-button ad">
        <span class="cha-verticle-center-text">AD</span>
      </div>
    </div>
    <span class="desc desc1">Click the champion character you<br /> want to see! Or you can skip this step.</span>
  </div>
  <div class="card position">
    <span class="title">POSITION</span>
    <div class="po-button-wrap">
      <div class="po-button">
        <span class="po-verticle-center-text">TOP</span>
      </div>
      <div class="po-button po-top mid">
        <span class="po-verticle-center-text">JUNGLE</span>
      </div>
      <div class="po-button po-top right">
        <span class="po-verticle-center-text">MID</span>
      </div>
      <div class="po-button po-top mid">
        <span class="po-verticle-center-text">DEALER</span>
      </div>
      <div class="po-button po-top right">
        <span class="po-verticle-center-text">SUPPORT</span>
      </div>
    </div>
    <span class="desc desc2">Click the champion character you<br /> want to see! Or you can skip this step.</span>
  </div>
  <div class="card tier">
    <span class="title">TIER</span>
    <div class="tier-button-wrap">
      <div class="tier-btn unranked">
        <span class="po-verticle-center-text">UNRANKED</span>
      </div>
      <div class="tier-btn bronze">
        <span class="po-verticle-center-text">BRONZE</span>
      </div>
    </div>
    <span class="desc">Click the champion character you<br /> want to see! Or you can skip this step.</span>
  </div>
</div>
