// component css goes here
.container {
  position: relative;
  width: 1080px;
  height: 603px;
}
/*
동영상 16:9 사이즈
2160p: 3840x2160
1440p: 2560x1440
1080p: 1920x1080
720p: 1280x720
480p: 854x480
360p: 640x360
240p: 426x240
*/
