// component css goes here
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


body {
  background-image: url("/public/images/back.jpg");
  background-size: cover;
  margin: 0;
}


li {
  list-style-type: none;
}

input:focus {
    outline:none;
}


input {
  border-style:solid;
  border-color: rgba(0,0,0,0);
}


textarea:focus {
    outline:none;
}

textarea {
  border-style:solid;
  border-color: rgba(0,0,0,0);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}


.container{
  width:100%;
  min-width:1200px;
  padding: 0 50px;
  display: flex;
  flex-wrap:wrap;
}

.hidden-title{
  font-size: 0px;
}

.hidden {
  display: none;
}

/*
동영상 16:9 사이즈
2160p: 3840x2160
1440p: 2560x1440
1080p: 1920x1080
720p: 1280x720
480p: 854x480
360p: 640x360
240p: 426x240
*/
