<section class="login_card fdpw">
  <div class="card_title"><h2>비밀번호 찾기</h2></div>
  <div class="card_input">
    <div class="agreement">
      <span>계정을 만들 때 사용하신 이메일 주소를 입력하시면 비밀번호를 재설정할 수 있는 링크를 보내드리겠습니다.</span>
    </div>
    <input type="email" placeholder="이메일 주소 입력" />
  </div>
  <div class="card_bottom">
    <button class="bottom_btn">
      <span>비밀번호 재설정</span>
    </button>
  </div>
</section>
<!--

<div class="login">
  <div class="text-login">
    LOGIN
  </div>
  <div class="input-login">
    <div class="wrapper-id">
      <input type="text" placeholder="아이디 입력" #id>
    </div>
    <div class="wrapper-pw">
      <input type="password" placeholder="비밀번호 입력" #pw>
    </div>
    <button (click)="login(id.value, pw.value)">로그인</button>
  </div>
  <div class="social-login">

  </div>
</div> -->
