<div class="random-info">
  <div class="video-info">
    <div class="video-tag">
      <div class="tag new">new</div>
      <div class="tag best">best</div>
      <div class="tag hit">hit</div>
    </div>
    <div class="video-title">자이라 37데스하는 데드무비입니다</div>
    <div class="video-desc">제 상대편 자이라(오멩이)가 진짜 심각하게 못해서 제가 따라다니면서 계속 죽였던 영상입니다. 제가 영상속 미포입니다.</div>
    <div class="video-share">
      <div class="btn-share btn-share-fb">f</div>
      <div class="btn-share btn-share-twitter">t</div>
      <div class="btn-share btn-share-insta">i</div>
    </div>
  </div>
  <div class="btn-next-video">
  <div class="next-text">NEXT</div>
  <div class="next-thumb">
    <div class="img"></div>
    <!--<img src="#" alt="">실제이미지로 대체해야됨-->
    <div class="icon-play">&gt;</div>
    <div class="mask"></div>
  </div>
  <div class="next-title">자이라 데드무비</div>
  <div class="next-time">49s</div>
</div>
</div>