.random-info {
  position: absolute;
  text-align: right;
  z-index: 150;
  top: 0;
  right: 0;
  margin-top: 9%;
  width: 25%;
  padding-right: 25px;

  .video-info {
    .video-tag {
      padding-bottom: 3px;
      display: flex;
      justify-content: flex-end;
      .tag {
        border-radius: 15px;
        width: 30px;
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 5px;
        margin-left: 10px;
      }
      .new {background-color: #4369ff;}
      .best {background-color: #8444ff;}
      .hit {background-color: #fd3d8a;}
    }
    .video-title {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      text-align: right;
      padding: 12px 0;
      color: #ffffff;
    }
    .video-desc {
      letter-spacing: -0.1px;
      text-align: right;
      color: rgba(255, 255, 255, 0.7);
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 12px;
    }
    .video-share {
      margin: 35px 0;

      .btn-share {
        display: inline-block;
        color: #ffffff;
        width: 40px;
        height: 40px;
        margin-left: 10px;
      }
    }
  }
  .btn-next-video {
    margin-top: 70px;
    .next-text {
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 5px;
    }
    .next-thumb {
      position: relative;
      width: 150px;
      height: 85px;
      margin-left: auto;
      margin-bottom: 10px;
      .img-thumb{
        width: 150px;
        height: 84.375px;
      }
      .icon-play {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-botton: auto;
      }
      .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
    .next-title {
      color: #ffffff;
      padding-bottom: 5px;
      font-weight: 100;
    }
    .next-time {
      color: #ffffff;
      font-weight: 100;
    }
  }
}
