<div class="random-info" *ngIf="videos">
  <div class="video-info">
    <div class="video-tag">
      <div class="tag new">new</div>
      <div class="tag best">best</div>
      <div class="tag hit">hit</div>
    </div>
    <div class="video-title">{{ videos[0].title }}</div>
    <div class="video-desc">{{ videos[0].desc }}</div>
    <div class="video-share">
      <div class="btn-share btn-share-fb"><img src="/public/images/button-facebook.png" alt=""></div>
      <div class="btn-share btn-share-twitter"><img src="/public/images/button-twitter.png" alt=""></div>
      <div class="btn-share btn-share-insta"><img src="/public/images/button-insta.png" alt=""></div>
    </div>
  </div>
  <div class="btn-next-video">
  <div class="next-text">NEXT</div>
  <div class="next-thumb" (click)="nextVideo()">
    <img class="img-thumb" src="https://i1.ytimg.com/vi/{{ videos[1].videoId }}/hqdefault.jpg" alt="다음 영상">
    <div class="icon-play">&gt;</div>
    <div class="mask"></div>
  </div>
  <div class="next-title">{{ videos[1].title }}</div>
  <div class="next-time">{{ videos[1].duration }}</div>
</div>
</div>
