.upload {
  width: 500px;
  margin: 0 auto;
  padding-top: 100px;

  .border {
    border: 1px solid black;
  }
  .wrapper-radio {
    display: inline-block;
  }
  .active {
    background-color: blue;
  }

  .wrapper-champions {
    
  }
  .wrapper-title {
    
  }
  .wrapper-desc {
    
  }
  .wrapper-video-url {
    
  }
  .wrapper-position {
    
  }
  .wrapper-tier {
    
  }
  .wrapper-char {
    
  }

}