<!--component html goes here -->
<div class="container">
  <article class="mypage">
    <section class="profile_admin">
      <div class="pa_wrap">
        <img src="/public/images/user-icon.png" alt=""><h2>프로필 관리</h2>
      </div>
      <div class="pa_wrap_2">
        <div class="nick_change">
          <span>닉네임 변경</span>
          <input type="text" placeholder="닉네임 입력" [(ngModel)]="displayName" >
        </div>
        <div class="profile_text">
          <span>프로필 사진</span>
        </div>
        <div class="profile_input">
          <div class="profile_pic">
            <img src="/public/images/bitmap2.png" alt="my profile picture" *ngIf="!authService.user || !authService.user.profile">
            <img [src]="authService.user.profile" alt="my profile picture" *ngIf="authService.user && authService.user.profile">
          </div>
          <div class="profile_search">
              <label class="search_btn" for="ex_filename"><span>파일찾기</span></label>
              <input type="file" id="ex_filename" class="upload-hidden" (change)="getFiles($event)">
              <input class="file_address" value="파일선택" disabled="disabled">
          </div>
        </div>
        <button class="save_btn" (click)="onSave()">
          <span>변경 내용 저장</span>
        </button>
      </div>
      <div class="pa_wrap pa_text2">
          <img src="/public/images/lock-icon.png" alt=""><h2>내 계정 관리</h2>
      </div>
      <div class="pa_wrap_3">
        <span>아래 계정 탈퇴 버튼을 누르면 모든 게시글과 관련 활동 정보가 소멸하며, 이 동작은 돌이킬 수 없습니다. 정말 계정을 탈퇴하시겠습니까?</span>
      </div>
      <div class="pa_wrap_4">
        <button class="unsub_btn">
          <span>변경 내용 저장</span>
        </button>
      </div>
    </section>
    <section class="my_video">
      <div class="pa_wrap">
        <img src="/public/images/menu-icon.png" alt=""><h2>내 게시글 관리</h2>
      </div>
      <div class="videos_wrap">
          <div class="scrollbar style-1">
            <div class="force-overflow">
              <div class="card_row">
                <div class="video_card">
                  <div class="preview">
                  </div>
                  <div class="title">
                    <span>자이라 핫캐리 레전드...</span>
                    <img src="/public/images/pen-icon.png" alt="수정하기">
                  </div>
                  <div class="viewlike">
                    <div class="total view">
                      <img src="/public/images/view-icon.png" alt="">
                      <span>3298</span>
                    </div>
                    <div class="total like">
                      <img src="/public/images/like-icon.png" alt="">
                      <span>1216</span>
                    </div>
                  </div>
                  <div class="sticker blue">
                    <img src="/public/images/blue-icon.png" alt="">
                  </div>
                </div>
                <div class="video_card">
                  <div class="preview">
                  </div>
                  <div class="title">
                    <span>자이라 핫캐리 레전드...</span>
                    <img src="/public/images/pen-icon.png" alt="수정하기">
                  </div>
                  <div class="viewlike">
                    <div class="total view">
                      <img src="/public/images/view-icon.png" alt="">
                      <span>3298</span>
                    </div>
                    <div class="total like">
                      <img src="/public/images/like-icon.png" alt="">
                      <span>1216</span>
                    </div>
                  </div>
                  <div class="sticker red">
                    <img src="/public/images/red-icon.png" alt="">
                  </div>
                </div>
                <div class="video_card">
                  <div class="preview">
                  </div>
                  <div class="title">
                    <span>자이라 핫캐리 레전드...</span>
                    <img src="/public/images/pen-icon.png" alt="수정하기">
                  </div>
                  <div class="viewlike">
                    <div class="total view">
                      <img src="/public/images/view-icon.png" alt="">
                      <span>3298</span>
                    </div>
                    <div class="total like">
                      <img src="/public/images/like-icon.png" alt="">
                      <span>1216</span>
                    </div>
                  </div>
                </div>
                <div class="video_card">
                  <div class="preview">
                  </div>
                  <div class="title">
                    <span>자이라 핫캐리 레전드...</span>
                    <img src="/public/images/pen-icon.png" alt="수정하기">
                  </div>
                  <div class="viewlike">
                    <div class="total view">
                      <img src="/public/images/view-icon.png" alt="">
                      <span>3298</span>
                    </div>
                    <div class="total like">
                      <img src="/public/images/like-icon.png" alt="">
                      <span>1216</span>
                    </div>
                  </div>
                </div>
                <div class="video_card">
                  <div class="preview">
                  </div>
                  <div class="title">
                    <span>자이라 핫캐리 레전드...</span>
                    <img src="/public/images/pen-icon.png" alt="수정하기">
                  </div>
                  <div class="viewlike">
                    <div class="total view">
                      <img src="/public/images/view-icon.png" alt="">
                      <span>3298</span>
                    </div>
                    <div class="total like">
                      <img src="/public/images/like-icon.png" alt="">
                      <span>1216</span>
                    </div>
                  </div>
                </div>
                <div class="video_card">
                  <div class="preview">
                  </div>
                  <div class="title">
                    <span>자이라 핫캐리 레전드...</span>
                    <img src="/public/images/pen-icon.png" alt="수정하기">
                  </div>
                  <div class="viewlike">
                    <div class="total view">
                      <img src="/public/images/view-icon.png" alt="">
                      <span>3298</span>
                    </div>
                    <div class="total like">
                      <img src="/public/images/like-icon.png" alt="">
                      <span>1216</span>
                    </div>
                  </div>
                </div>
                <div class="video_card">
                  <div class="preview">
                  </div>
                  <div class="title">
                    <span>자이라 핫캐리 레전드...</span>
                    <img src="/public/images/pen-icon.png" alt="수정하기">
                  </div>
                  <div class="viewlike">
                    <div class="total view">
                      <img src="/public/images/view-icon.png" alt="">
                      <span>3298</span>
                    </div>
                    <div class="total like">
                      <img src="/public/images/like-icon.png" alt="">
                      <span>1216</span>
                    </div>
                  </div>
                </div>
                <div class="video_card">
                  <div class="preview">
                  </div>
                  <div class="title">
                    <span>자이라 핫캐리 레전드...</span>
                    <img src="/public/images/pen-icon.png" alt="수정하기">
                  </div>
                  <div class="viewlike">
                    <div class="total view">
                      <img src="/public/images/view-icon.png" alt="">
                      <span>3298</span>
                    </div>
                    <div class="total like">
                      <img src="/public/images/like-icon.png" alt="">
                      <span>1216</span>
                    </div>
                  </div>
                </div>
                <div class="video_card">
                  <div class="preview">
                  </div>
                  <div class="title">
                    <span>자이라 핫캐리 레전드...</span>
                    <img src="/public/images/pen-icon.png" alt="수정하기">
                  </div>
                  <div class="viewlike">
                    <div class="total view">
                      <img src="/public/images/view-icon.png" alt="">
                      <span>3298</span>
                    </div>
                    <div class="total like">
                      <img src="/public/images/like-icon.png" alt="">
                      <span>1216</span>
                    </div>
                  </div>
                </div>
                <div class="video_card">
                  <div class="preview">
                  </div>
                  <div class="title">
                    <span>자이라 핫캐리 레전드...</span>
                    <img src="/public/images/pen-icon.png" alt="수정하기">
                  </div>
                  <div class="viewlike">
                    <div class="total view">
                      <img src="/public/images/view-icon.png" alt="">
                      <span>3298</span>
                    </div>
                    <div class="total like">
                      <img src="/public/images/like-icon.png" alt="">
                      <span>1216</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>
  </article>
</div>
