// component css goes here

.position{position: absolute; top:34px;left: 50%;transform: translate(-50%, 0);}
.button_top{}
.button_jungle{margin-left: 40px;}
.button_mid{margin-left: 40px;}
.button_sup{margin-left: 40px;}
.button_ad{margin-left: 40px;}
.battletitle{position: absolute; top:140px;left:70px;}
.bt{color:#fff;  font-family: SpoqaHanSans;font-size: 30px;font-weight: bold; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: -0.4px; color: #ffffff; text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);}
battle-chating {position: absolute; top:170px;right:80px; width:400px;}

.bvwrap {position: absolute;top:19.4%;left:2.1%;width:73.1%;height:36.5%;}
.battlevideo{width:49.5%; height:100%;background-color:#fff;display: inline-block;}
.percent {display: inline-block; border-radius: 25px;}
.perNum { display: inline-block;vertical-align: top;margin-top:6px;font-family: SpoqaHanSans;font-size: 24px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: normal;letter-spacing: -0.2px;text-align: right;color: #ffffff;text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
.pn1 {margin-left:9px;}
.pn2 {margin-left:12px; }
.voting {position:relative;top:643px;left:70px;font-size: 0px;}
.progress {display: inline-block;vertical-align: top;margin-left: 12px;}
.meter {
	height: 15px;  /* Can be anything */
  margin-top:15px;
  width:700px;
	position: relative;
	background: #4a4a4a;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #fd3d8a;
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
.b2 {margin-left:9px;}
.Line {
  width: 1400px;
  height: 0px;
  opacity: 0.2;
  border: solid 1px #ffffff;
  left:40px;
}
.l1 {position: absolute;top:728px;}
.l2 {position: absolute;top:935px;}
.video_info {position: absolute; top:755px;left:70px;}
.button_profile_image{float: left;}
.l_title {position: absolute;left:76px; width:563px;color:#fff;vertical-align: top;
  font-family: SpoqaHanSans;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #ffffff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);}
.l_content {position: absolute;top:50px;left:76px;width:559px;vertical-align: top;color:#fff;  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: -0.1px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);}
.info_scroll{position: absolute;left:650px;top:56px;
  width: 10px;
  height: 89px;
  border-radius: 49px;
  background-color: #4a4a4a;
}
.right_info {position: relative;left:690px;}
.bpi2 {position: absolute;left:0px;}
