<div class="container" *ngIf="battleInfo">
  <div class="battle_wrap">
    <section class="videos_title">
      <h2 class="battle_title">{{ battleInfo.videos[0].title }} vs {{ battleInfo.videos[1].title }}</h2>
    </section>
    <section class="viewlike">
      <h2 class="hidden-title">조회수와 좋아요 수</h2>
      <img src="/public/images/button-view.png" class="button_view">
      <span class="text_total view_total">VIEW 32312</span>
      <img src="/public/images/button-like.png" class="button_like">
      <span class="text_total like_total">LIKE 4231</span>
    </section>
  </div>

  <div class="battle_wrap bw2">
    <section class="battle_video">
      <h2 class="hidden-title">{{ battleInfo.videos[0].title }} vs {{ battleInfo.videos[1].title }}</h2>
      <div class="videos">
        <div class="v1 video">
          <lol-video [videoId]="battleInfo.videos[0].videoId"
                     [black_gradient]="false"
                     (video_status)="videoStatusChange(status, 0)"
          ></lol-video>
        </div>
        <div class="v2 video">
          <lol-video [videoId]="battleInfo.videos[1].videoId"
                     [black_gradient]="false"
                     (video_status)="videoStatusChange(status, 1)"
          ></lol-video>
        </div>
      </div>
      <div class="voting">
        <img src="/public/images/button-heart.png" class="button_heart b1">
        <span class="perNum pn1">67%</span>
        <div class="progress">
          <div class="meter">
            <span style="width: 67%;"></span>
          </div>
        </div>
        <span class="perNum pn2">33%</span>
        <img src="/public/images/button-heart.png" class="button_heart b2">
      </div>

      <div class="infos">
        <article class="i1">
          <div class="i_profile">
            <img class="i_profile_pic" src="/public/images/button-board-profile-image.png" alt="">
          </div>
          <div class="i_content">
            <h2 class="i_title">{{ battleInfo.videos[0].title }}</h2>
            <div class="scrollbar style-1">
              <div class="force-overflow">
                <p class="l_content">
                  {{ battleInfo.videos[0].desc }}
                </p>
              </div>
            </div>
          </div>
        </article>
        <article class="i2">
          <div class="i_profile">
            <img class="i_profile_pic" src="/public/images/button-board-profile-image.png" alt="">
          </div>
          <div class="i_content">
            <h2 class="i_title">{{ battleInfo.videos[1].title }}</h2>
            <div class="scrollbar style-1">
              <div class="force-overflow">
                <p class="l_content">
                  {{ battleInfo.videos[1].desc }}
                </p>
              </div>
            </div>
          </div>
        </article>
      </div>
    </section>
    <battle-chating
      [chattings]="chattings"
      [videos]="battleInfo.videos"
      (chatClicked)="chatClicked($event)"
    ></battle-chating>
  </div>

</div>



<footer class="footer">
  <div class="play_control">
    <span class="prvious_video">PREVIOUS VIDEO</span>
    <img src="/public/images/button-previous-video.png" alt>
    <div class="play" (click)="playBtnClick()" [class.stop_btn]="playStatus" [class.play_btn]="!playStatus"></div>
    <img src="/public/images/button-next-video.png" alt>
    <span class="next_video">NEXT VIDEO</span>
  </div>
  <div class="play_option">
    <div class="coninuous_wrap" (click)="continueBtnClick()">
      <div class="continuous_play_img" [class.continuous_on]="continuousStatus"
           [class.continuous_off]="!continuousStatus">
      </div>
      <span class="continuous_play" [class.continuous_on_text]="continuousStatus"
            [class.continuous_off_text]="!continuousStatus">연속재생</span>
    </div>
    <div class="random_wrap" (click)="randomBtnClick()">
      <div class="random_play_img" [class.random_on]="randomStatus" [class.random_off]="!randomStatus">
      </div>
      <span class="random_play" [class.random_on_text]="randomStatus"
            [class.random_off_text]="!randomStatus">랜덤재생</span>
    </div>
  </div>
  <div class="history_btn">
    <img src="/public/images/button-up.png" alt="">
  </div>
</footer>
