<!--component html goes here -->
<div class="position">
  <img src="/public/images/button-top-off.png" class="button_top">
  <img src="/public/images/button-jungle-off.png" class="button_jungle">
  <img src="/public/images/button-mid-on.png" class="button_mid">
  <img src="/public/images/button-sup-off.png" class="button_sup">
  <img src="/public/images/button-ad-off.png" class="button_ad">
</div>
<div class="battletitle">
  <span class="bt">미스포츈으로 캐리한 매드무비입니다.</span>
  <span class="bt">&nbsp;VS&nbsp;</span>
  <span class="bt">제가 자이라로 하드캐리한 매드무비입니다.</span>
</div>
<battle-chating></battle-chating>
