<!--component html goes here -->
<my-nav></my-nav>
<div class="position">
  <img src="/public/images/button-top-off.png" class="button_top">
  <img src="/public/images/button-jungle-off.png" class="button_jungle">
  <img src="/public/images/button-mid-on.png" class="button_mid">
  <img src="/public/images/button-sup-off.png" class="button_sup">
  <img src="/public/images/button-ad-off.png" class="button_ad">
</div>
<div class="battletitle">
  <span class="bt">미스포츈으로 캐리한 매드무비입니다.</span>
  <span class="bt">&nbsp;VS&nbsp;</span>
  <span class="bt">제가 자이라로 하드캐리한 매드무비입니다.</span>
</div>
<div class="bvwrap">
  <div class="battlevideo v1">

  </div>
  <div class="battlevideo v2">

  </div>
</div>
<div class="voting">
  <img src="/public/images/button-heart.png" class="button_heart b1">
  <span class="perNum pn1">67%</span>
  <div class="progress">
    <div class="meter">
      <span style="width: 67%;"></span>
    </div>
  </div>
  <span class="perNum pn2">33%</span>
  <img src="/public/images/button-heart.png" class="button_heart b2">
</div>
<battle-chating></battle-chating>
<div class="Line l1"></div>
  <div class="video_info">
    <div class="left_info">
      <img src="/public/images/button-board-profile-image.png" class="button_profile_image">
      <span class="l_title">미스포츈으로 캐리한 매드무비입니다.</span>
      <span class="l_content">제가 팀내에서 딜량도 압도적인 1위였고, 마지막에 바론 스틸 없었으면 졌을거 같은데 제가 바론스틸까지 하면서 완벽한 역전승을 했습니다. 상대편 애쉬는 완전 초반부터 제가 말려놔서 아예 힘도못써고 무력하게 죽었네요. 제가 팀내에서 딜량도 압도적인 1위였고, 마지막에 바론 스틸 없었으면 졌을거 같은데 제가 바론스틸까지 하면서 완벽한 역전승을 했습니다. 상대편 애쉬는 완전 초반부터 제</span>
      <div class="info_scroll is1"></div>
    </div>

    <div class="right_info">
      <img src="/public/images/button-board-profile-image.png" class="button_profile_image bpi2">
      <span class="l_title">미스포츈으로 캐리한 매드무비입니다.</span>
      <span class="l_content">제가 팀내에서 딜량도 압도적인 1위였고, 마지막에 바론 스틸 없었으면 졌을거 같은데 제가 바론스틸까지 하면서 완벽한 역전승을 했습니다. 상대편 애쉬는 완전 초반부터 제가 말려놔서 아예 힘도못써고 무력하게 죽었네요. 제가 팀내에서 딜량도 압도적인 1위였고, 마지막에 바론 스틸 없었으면 졌을거 같은데 제가 바론스틸까지 하면서 완벽한 역전승을 했습니다. 상대편 애쉬는 완전 초반부터 제</span>
      <div class="info_scroll is2"></div>
    </div>
  </div>
<div class="Line l2"></div>
